:root {
  --white: #fff;
  --light: #ddd;
  --darker: #aaa;
  --black: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 62.5%;
  display: grid;
  place-items: center;
}

/* play-against buttons */

.play-against-buttons {
  display: flex;
  gap: 3rem;
}

.play-button {
  width: calc(60vh / 2 - 3.2rem);
  height: 3.2rem;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.button {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-size: 1.6rem;
}

.button:hover {
  background-color: var(--light);
}

.button:active {
  background-color: var(--darker);
}

/* choose role button */
.choose-role-buttons {
  display: flex;
  gap: 5rem;
}

.role-button {
  padding: 0.5rem 1.5rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 5px;
}

/* Game board */

.container {
  background-color: var(--black);
  width: 60vh;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.grid-cell {
  background-color: var(--white);
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  user-select: none;
}

.grid-cell:hover {
  cursor: pointer;
  background-color: var(--light);
}

/* Restart button */

.restart-button {
  /* padding: 0.5rem 1.5rem; */
  width: 60vh;
  height: 3.2rem;
  display: grid;
  place-items: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--black);
  border-radius: 5px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .container {
    width: 40vh;
    height: 40vh;
  }

  .restart-button {
    width: 40vh;
  }

  .play-button {
    width: calc(40vh / 2 - 3.2rem);
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 30vh;
    height: 30vh;
  }

  .restart-button {
    width: 30vh;
  }

  .play-button {
    width: calc(30vh / 2 - 3.2rem);
    font-size: 1.4rem;
  }
}
