:root {
  --white: #fff;
  --light: #ddd;
  --darker: #aaa;
  --black: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
  display: grid;
  place-items: center;
}

.heading-primary {
  font-size: 3.2rem;
}

.button {
  font-size: 1.6rem;
  cursor: pointer;
}

.button:hover {
  background-color: #444;
}

.button:active {
  background-color: #555;
}

.restart-button {
  /* padding: 0.5rem 1.5rem; */
  width: 60vh;
  height: 3.2rem;
  display: grid;
  place-items: center;
  color: var(--white);
  background-color: var(--black);
  /* border: 1px solid var(--black); */
  border-radius: 5px;
}

/* Message */

.message {
  font-size: 2.4rem;
}

/* Game board */

.container {
  background-color: var(--black);
  width: 60vh;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.grid-cell {
  background-color: var(--white);
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  user-select: none;
}

.grid-cell:hover {
  cursor: pointer;
  background-color: var(--light);
}

.grid-cell:active {
  background-color: var(--darker);
}
/* media queries */
@media screen and (max-width: 768px) {
  .container {
    width: 40vh;
    height: 40vh;
  }

  .restart-button {
    width: 40vh;
  }
}

@media screen and (max-width: 320px) {
  .container {
    width: 30vh;
    height: 30vh;
  }

  .restart-button {
    width: 30vh;
  }
}
